body {
  padding: 0;
  margin: 0;
  background-color: #f6f6e9;
  font-family: 'Spartan', sans-serif;
  font-size: .8em;
}
body button:focus,
body input:focus {
  outline: none;
}
body a {
  text-decoration: none;
  color: azure;
}
.app {
  display: block;
  width: 100%;
  height: auto;
  padding: 20px 0;
}
.app h1 {
  margin-left: 1.2%;
}
.app .basebutton {
  display: inline-block;
  width: 150px;
  height: 2.4rem;
  font-size: 25px;
  margin: -10px 20px;
  text-transform: capitalize;
  border: 2.5px solid black;
  border-radius: 5px;
  font-weight: bold;
  color: azure;
  background-color: #00C800;
}
.app .loader {
  width: 90%;
  height: 60vh;
  z-index: 100;
  background-color: #fafafa;
  margin: 0 5%;
  border: 2px solid azure;
  border-radius: 15px;
  position: absolute;
  top: 13%;
  right: 0;
  bottom: 0;
  left: 0;
}
.app .loader img {
  display: block;
  width: auto;
  padding: 0 30%;
  height: auto;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.table {
  display: block;
  width: 100%;
  height: auto;
  padding: 20px 0;
  position: relative;
}
.table .tablepatern {
  line-height: 18px ;
  width: 10%;
  text-align: center;
}
.table .tablepatern p {
  margin: 0;
  float: right;
  text-align: left;
}
.table .filterfield {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  line-height: 50px;
  padding: 0;
  margin-bottom: 3px;
  background-color: #13334c;
  border-radius: 5px;
}
.table .filterfield .findandadd {
  display: inline-block;
  width: 150px;
  height: 2.4rem;
  font-size: 25px;
  margin: 10px 20px;
  text-transform: capitalize;
  border: 2px solid azure;
  border-radius: 5px;
  font-weight: bold;
  color: azure;
  background-color: #00C800;
}
@-webkit-keyframes button {
  0% {
    background-color: cyan;
  }
  100% {
    background-color: #00C800;
  }
}
@keyframes button {
  0% {
    background-color: cyan;
  }
  100% {
    background-color: #00C800;
  }
}
.table .filterfield input {
  display: inline-block;
  width: 250px;
  height: 2.3rem;
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
  margin-left: 20px;
  padding: 0 5px;
  border: 1px solid azure;
  border-radius: 5px;
  text-transform: capitalize;
}
.table table {
  display: table;
  width: 100%;
  font-weight: bold;
  color: azure;
  background-color: #0094f8;
}
@-webkit-keyframes table {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes table {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.table tr {
  height: auto;
}
.table td {
  width: auto;
  background-color: #005792;
  height: auto;
  border-radius: 4px;
  text-align: center;
}
.table .directionButton {
  display: inline-block;
  position: fixed;
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 60px;
  font-size: 60px;
  border: 2px solid azure;
  border-radius: 50%;
  background-color: #00C800;
  color: azure;
}
.table .directionButton:focus {
  outline: none;
}
.table .directionButton img {
  width: 65px;
  height: 50px;
  margin-top: 9px;
  margin-left: 2px;
}
.table .buttonLeft {
  top: 50%;
  left: 10px;
}
.table .buttonRight {
  top: 50%;
  right: 10px;
}
.selectedelement {
  display: block;
  position: relative;
  width: 70%;
  margin: 30px 0 0 15%;
  padding: 10px;
  height: 50%;
  border: 2px solid #00C800;
  border-radius: 5px;
}
.selectedelement .closeselectedbutton {
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #00C800;
  border-radius: 50%;
  border: none;
}
.selectedelement .closeselectedbutton:before {
  content: " ";
  position: relative;
  top: 2px;
  left: 6px;
  display: block;
  width: 26px;
  height: 4px;
  background-color: black;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.selectedelement .closeselectedbutton:after {
  content: " ";
  position: relative;
  top: -2px;
  left: 6px;
  display: block;
  width: 26px;
  height: 4px;
  background-color: black;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.AddForm {
  display: block;
  width: 90%;
  margin: 0 auto;
  height: 4%;
  position: absolute;
  top: 1%;
  left: 5%;
  background-color: #f6f6e9;
  border: 3px solid #00C800;
  border-radius: 5px;
  -webkit-animation: addform .5s ease;
          animation: addform .5s ease;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}
@-webkit-keyframes addform {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes addform {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.AddForm h1 {
  text-align: center;
  margin-top: 30px;
}
.AddForm table td {
  width: 20%;
  text-transform: capitalize;
}
.AddForm table {
  height: 18%;
}
.AddForm .inputRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
}
.AddForm .inputRow input {
  max-width: 150px;
  height: 35px;
  border: 2px solid #005792 ;
  border-radius: 4px;
  font-size: 1.5rem;
  margin: 20px 15px;
}
.AddForm .inputRow .adddatabutton {
  display: block;
  width: 170px;
  height: 2.6rem;
  font-size: 1.3em;
  margin: 20px;
  border-radius: 5px;
  border: 2px solid #005792;
  font-weight: bold;
  color: azure;
  background-color: #00C800;
}
.AddForm .close {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border: 2px solid azure;
  border-radius: 50%;
  position: absolute;
  font-weight: bold;
  font-size: 30px;
  top: 20px;
  right: 19px;
  background-color: #FA2323;
}
.AddForm .close:before {
  content: " ";
  position: relative;
  top: 1px;
  left: 2px;
  display: block;
  width: 30px;
  height: 4px;
  background-color: black;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.AddForm .close:after {
  content: " ";
  position: relative;
  top: -3px;
  left: 2px;
  display: block;
  width: 30px;
  height: 4px;
  background-color: black;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.AddForm .close:before,
.AddForm .close:after {
  border-radius: 5px;
}
.AddForm .close:focus {
  outline: none;
}
/*# sourceMappingURL=style.css.map */